@font-face { 
	font-family: 'S-CoreDream-8Heavy'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); 
	font-weight: normal; font-style: normal; 
}

html, body, div, span, form, img, ul{
	text-align : center;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color : #ffffff;
    vertical-align: baseline;
}
html, body {
	height : 100%;
}


span, input [type=button]{
	cursor: pointer;
}
html {
	background-color: #53888b91;
}

hr {
	margin : 0;
}
		
ul {
	display : table;
	margin : 0px;
	list-style : none;
  	padding:0;
}

li {
	list-style : none;
}
header li {
	font-family: 'S-CoreDream-8Heavy' !important;
}

a {
	text-decoration : none;
	font-size : 15px;
	color : white;
}

header {
	display : inline-block;
	width : 100%;
    margin-bottom : 0.3%;
}

header #headerTit {
	font-size : 20px;
	color : black;
	font-weight: bold;
}

header hr  {
    height: 2px;
    background-color: #2b475e;
    border: 0px;
}

/* footer */
footer {
	display : inline-block;
	width : 100%;
	margin : 0.3% 0;
	font-size : 10px;
	color : grey;
}

/* footer 占쏙옙占싻쇽옙 */
footer>.footerTxt hr  {
    height: 2px;
    background-color: #2b475e;
    border: 0px;
/*     #353866 */
}

.menuList {
	display: table;
	width : 100%;
	margin-left: auto;
	margin-right: auto;
}

.menuList li{
	float : left;
	width : 19.84%;
	height : 20%;
	margin : 0.2% 0.1%;
	background-color : #2b475e;
}

.menuList li:nth-child(1) {
	margin-left : 0;
/* 	background-color : #8592c4e8; */
}
.menuList li:nth-last-child(1) {
	margin-right : 0;
/* 	background-color : #8592c4e8; */
}

nav>.wrapMenu>.menuList a {
    width: 100%;
/*     color : white; */
    display: inline-block;
    padding: 20px 0px;
    font-size: 15px;
    font-weight : bold;
}

.menuList a:hover {
	background-color : #9dbbbd;
	color : #c72e45;
	font-weight : bold;
    transition: all .2s ease;
}

#wrap {
	width : 75%;
	height : 90%;
	margin : auto;
	border : 1px;
}

.search_box_app select {
	width: 100px;
	padding: .5em .5em;
	border: 1px solid #999;
	font-family: inherit;
	background: url('/mainImg/arrow.jpeg') no-repeat 95% 50%;
	background-color : #fff;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

label {
	color : white;
}

#sHowmany select {
	width: 70px;
	padding: .5em .5em;
	border: 1px solid #999;
	font-family: inherit;
	background: url('/mainImg/arrow.jpeg') no-repeat 95% 50%;
	background-color : #fff;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#bitHigh img {
	width: 25%;
    height: 50%;
    margin: 15px 0;
}

.detail_list li {
	float : left;
}

input {
	border : none;
}

#pageNo2, .pageNo2 {
	margin: 2% auto 1%;
    padding: 5px;
    border : none;
    color: #fff;
    background-color: #e1fdffa3;
}

.pageBtn {
	margin: 2% auto 1%;
    border : none;
    color: #fff;
/*     background-color: #e1fdffa3; */
}

.board_btn {
    text-align: end;
}

.board_btn .back{
	background-color: #b1c9ca75;
}

.modal_closd_btn {
    margin: 5px 0;
    padding: 5px;
    color: white !important;
    background-color: #fead09;
    border-radius: 10px;
}